#aboutus {
    padding-bottom: 30px;
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    font-family: Montserrat;
    color: #659157;
}

.mission {
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    font-family: Montserrat;
    color: white;
}