ion-title.aboutus {
    padding-bottom: 30px;
    margin-top: 0px;
    text-align: center;
    font-weight: bold;
    font-size: xxx-large;
    font-family: Montserrat;
    color: #659157;
    background-color: lightgoldenrodyellow;
}

.mission {
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    font-family: Montserrat;
    color: white;
}
