#confirm_message {
    display: inline-block;
    margin-top: 150px;
    margin-left: 380px;
    font-size: 30px;
    font-family: 'Montserrat';
    color: #79acb9 ;
}

#confirm_place {
    display: inline-block;
    position: float;
    font-size: 40px;
    font-family: 'Montserrat';
    font-weight: bolder;
    color: black;
    margin-top: 80px;
    margin-left: 470px;
}

.button_home {
    margin-top: -500px;
    margin-left: 650px;
}