.title {
    font: Montserrat;
    font-weight: 300;
    font-size: x-large;
    margin-top: 0px;
}

.thumbnail {
    margin-top: 10px;
}

#home-page {
    text-decoration: none;
}

.button-out {
    margin-top: 300px;
}

#not-register {
    text-align: center;
    font-family: Montserrat;
    font-weight: bold;
    font-size: larger;
    margin-top: 200px;
}

#back-button {
    margin-left: 650px;
}