.button_confirm {
    margin-top: -110px;
    margin-left: 1150px;
}

.inputinfo {
    width: 50%;
    height: 100%;
}

#card_box {
    margin-top: 80px;
    margin-left: 300px;
}

.labelinfo {
    font-size: large;
}

#home-page {
    text-decoration: none;
}