.ion-card{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 60px;
    margin-left: 200px;
  }

.listing_img {
  width: 230px;
  height: 150px;
}

#home-page {
  text-decoration: none;
}