.login_position {
    margin-top: 100px;
    margin-left: 450px;
}

#login_title {
    padding: 40px;
    margin-left: 60px;
    color: #659157;
    font-family: Montserrat;
    font-weight: bolder;
    font-size: xx-large;
}

.register_button {
    margin-left: 150px;
}